*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    color: #FFF;
    font-size: 2rem;
    padding-inline: 1rem;
    text-decoration: none;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

.huskii {
    background-image: url(/img/HUSKII_BANNER.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.huskii-header {
    display: flex;
    justify-content: space-between;
}

.huskii-header li {
    display: inline-block;
}

.switcher {
    display: flex;
}

.switcher p {
    color: #FFF;
    font-size: 2rem;
}

.track-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

iframe {
    width: calc(20% - 12px);
    border-radius: 12px;
    margin: 0 10px;
    opacity: 0; /* Set initial opacity to 0 */
    margin-bottom: 2rem;
    animation: fadeIn 3s forwards;
    animation-delay: 0.5s;
}

.fade-in {
    opacity: 0.9;
    margin-bottom: 2rem;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.8; }
}

.wrapper {
    width: max-content;
}